$redTextColor: #E2091F;
$greenTextColor: #13943D;

.red {
    color: $redTextColor;
}
.green {
    color: $greenTextColor;
}

.title {
    color: #FFF;
    background-image: url(../icons/Icon.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: 36px;
    text-shadow: none;
}

.main__bg {
    background-image: url(../images/bg.jpg);
    background-size: cover;
}

.no__bg {
    background-image: none;
    background-color: transparent !important;
}

.lists__listitem {
    span {
        float: right;
        font-size: 10px;
        padding-top: 10px;
    }
}

.welcome {
    font-size: 26px;
    font-weight: 700;
    color: #444;
}

.welcome__small {
    font-size: 10px;
}

.x-toolbar-maintitlebar {
    border: none !important;
}

.listitem {
    &__name {
        float: left;
        width: 70%;
        font-weight: 600;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
        padding-top: 2px;
    }
    &__price {
        float: left;
        width: 20%;
        text-align: right;
        font-size: 14px;
        font-weight: 600;
        padding-top: 4px;
    }
    &__quantity {
        float: left;
        width: 10%;
        text-align: center;
        font-size: 12px;
        padding-top: 6px;
    }

    &__total {
        border-top: 1px dashed #ccc;
        border-bottom: 1px dashed #ccc;
    }
}

.listitems .x-list-item {
   height: 50px !important;
}